*{
    background-color: #363636;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
}
.flex-child:first-child {
    margin-left: 50px;
    margin-right: 20px;
}
.optionsBox {
    background-color: #6E7368;
    height: 84%;
    width: 80%;
    margin-top: 15%;
    border-radius: 10px;
}  
.treeBox {
    background-color: #0F0E10;
    height: 800px;
    width: 95%;
    margin-top: 5%;
    border-radius: 10px;
} 
